# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore text
*.md text

# Ensure LF for various Linux files
*.sh text eol=lf

# Ensure CRLF for Various Windows files (batch, powershell, etc.)
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.vbs text eol=crlf
